body {
  margin: 0;
  background-color: whitesmoke;
  text-align: center;
  font-family: monospace;
}
h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: indianred;
  line-height: 2;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin: inherit;
  color: indianred;
  /* font-weight: normal; */
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: lightcoral;
}
a {
  color: lightcoral;
}
hr{
    width: 90px;
    border-style: none;
    border-top-style: dotted;
    border-top-width: 10px;
    border-color: lightcoral;
}
.top-container {
  background-color: lightblue;
  padding-top: 100px;
  position: relative;
}
.profile-image {
  margin-top: 30px;
  border-radius: 100%;
  object-fit: cover;
  width: 235px;
  height: 235px;
}
.mid-container {
  position: relative;
  padding-bottom: 50px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.underline {
  text-decoration: underline;
}
.skill-row {
  display: inline-block;
  width: 50%;
  height: auto;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}
.skill-image-left {
  border-radius: 100%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}
.skill-image-right {
  border-radius: 100%;
  object-fit: cover;
  width: 200px;
  height: 200px;
  float: right;
  margin-left: 30px;
}
.contact-me {
    margin: 50px auto;
}
.bottom-container {
  padding: 30px 0;
  line-height: 2;
  position: relative;
  background-color: lightblue;
  color: white;
}
.mail-button {
    background: #F08080;
    background-image: -webkit-linear-gradient(top, #F08080, #BD6464);
    background-image: -moz-linear-gradient(top, #F08080, #BD6464);
    background-image: -ms-linear-gradient(top, #F08080, #BD6464);
    background-image: -o-linear-gradient(top, #F08080, #BD6464);
    background-image: -webkit-gradient(to bottom, #F08080, #BD6464);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: monospace;
    font-size: 20px;
    padding: 10px 20px;
    border: solid #FF8686 2px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
.mail-button:hover {
    border: solid #FF8686 2px;
    background: #BD6464;
    background-image: -webkit-linear-gradient(top, #BD6464, #F08080);
    background-image: -moz-linear-gradient(top, #BD6464, #F08080);
    background-image: -ms-linear-gradient(top, #BD6464, #F08080);
    background-image: -o-linear-gradient(top, #BD6464, #F08080);
    background-image: -webkit-gradient(to bottom, #BD6464, #F08080);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }